# Kernel
*.ko
*.o
*.mod
*.mod.c
*.mod.o

Module.symvers
modules.order

.*.cmd

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Logs
*.log

# Test binaries
tests/test_enable
tests/test_zone
tests/test_effect