# Kernel
*.ko
*.o
*.mod
*.mod.c
*.mod.o

Module.symvers
modules.order

.*.cmd

# Python
__pycache__/
*.pyc
*.egg-info
.venv/

# Python build outputs
python/build/
python/dist/

# IDE
.vscode/
.idea/

# Logs
*.log

# Local release config
python/release.ini